<div class="home-content">
  <% if user_signed_in? %>


  <% @messages.each do |message| %>
  <div class="bubble-note">
    <%= link_to message do %>
      <div class="note-box">
        <div class="note-box-content">
          <p><%= message.content %></p>
        </div>
      </div><!-- end .note-box -->
      <div class="note-meta">
        <p>Left <span><%= time_ago_in_words(message.created_at) %> ago</span> for <span class="location-title"><%= message.location.title %></span></p>
      </div>
    <% end %>
  </div><!--end .bubble-note -->
   <% end %>

    <div class="page-links">
      <%= link_to "Add a new note", new_message_path, class: "button big-button" %>
    </div>

  <% else %>
      <div class="center">
        <p>Remigeo is a way to leave yourself personal messages and reminders based on location.</p>
        <%= link_to "Sign Up", signup_path, class: "button big-button" %>
      </div><!--end .center -->
  <% end %>
</div><!-- end .home-content -->