<div class="home-content">

  <% if user_signed_in? %>

    <% unless @messages.blank? %>

      <h2>Nearby Notes</h2>

      <div class="map-wrap">
        <div class="map" id="home-map" style="width:100%; height: 350px"></div>
      </div><!--end .map-wrap -->

    <div class="recent-notes">
      <h2 class="page-title">Recently Added Notes</h2>
      <% @messages.each do |message| %>
        <div class="bubble-note">
          <%= link_to( message ) do %>
            <div class="note-box">
              <div class="note-box-content">
                <%= h(message.content).gsub(/\n/, '<br/>').html_safe %>
              </div>
            </div><!-- end .note-box -->
            <div class="note-meta">
              <p>Left <span><%= time_ago_in_words(message.created_at) %> ago</span> for <span class="location-title"><%= message.location.title %></span></p>
            </div>
          <% end %>
        </div><!--end .bubble-note -->
      <% end %>
    </div><!--end .recent-notes -->

    <div class="page-links center">
      <%= link_to '<i class= "icon-map-marker"></i> Add a new note'.html_safe, new_message_path, class: "button big-button" %>
      <%= link_to '<i class="icon-globe"></i> See your notes'.html_safe, messages_path, class: "button big-button" %>
    </div>

    <% else %>
      <div class="center">
        <p>Hi, looks like you are new here! Get started by <%= link_to "adding a new note", new_message_path %>.</p>
      </div><!--end .center -->
    <% end %>

  <% else %>

    <% provide(:body_class, "page-home") %>
    <div class="center-container">
      <div class="center">
        <p>RemiGeo is a way to leave yourself personal messages and reminders based on location.</p>
        <br>
        <br>
        <%= link_to '<i class="icon-foursquare"></i>Sign in with Foursquare'.html_safe, user_omniauth_authorize_path(:foursquare), :class => "button big-button" %>
    </div><!--end .center -->
    </div><!--end .center -->
  <% end %>
</div><!-- end .home-content -->