<div class="home-content">
  <% if user_signed_in? %>

  <h2>Nearby Notes</h2>

  <div class="map-wrap">

    <div id="home-map" style="width:100%; height: 350px"></div>

  </div><!--end .map-wrap -->

  <div class="recent-notes">

  <h2 class="page-title">Recently Added Notes</h2>

  <% @messages.each do |message| %>
    <div class="bubble-note">
      <%= link_to( message ) do %>
        <div class="note-box">
          <div class="note-box-content">
            <p><%= message.content %></p>
          </div>
        </div><!-- end .note-box -->
        <div class="note-meta">
          <p>Left <span><%= time_ago_in_words(message.created_at) %> ago</span> for <span class="location-title"><%= message.location.title %></span></p>
        </div>
      <% end %>
    </div><!--end .bubble-note -->
  <% end %>

  </div><!--end .recent-notes ->

    <div class="page-links center">
      <a class="button big-button" href="/messages/new"><i class="icon-map-marker"></i> Add a new note</a>
      <a class="button big-button" href="/messages"><i class="icon-globe"></i> See your notes</a>
    </div>

  <% else %>
      <div class="center">
        <p>RemiGeo is a way to leave yourself personal messages and reminders based on location.</p>
        <%= link_to "Sign Up", signup_path, class: "button big-button" %>
      </div><!--end .center -->
  <% end %>
</div><!-- end .home-content -->