<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>What do you want to add?</label><br />
    <%= f.text_area :content %>
  </div>

  <div class="locations-options">

    <h3>Tag the Location</h3>

    <a href="#" class="get-nearby middle-button button">Nearby Locations</a>

    <a href="#" class="search-locations middle-button button">Search locations</a>

    <div class="nearby-locations-container" style="display: none;">
      <select id="nearby-locations" name="message[location_id]"></select>
    </div><!-- end .nearby-locations-container -->

    <div class="search-locations-container" style="display: none;">
      <input type="text" placeholder="Location name" id="location-search">
      <select style="display:none;" id="search-locations-results" name="message[location_id]"></select>
    </div>

  </div><!--end .locations-options-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
