<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</p>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>What do you want to add?</label><br />
    <%= f.text_area :content %>
  </div>

  <% if @location.blank? %>

  <div class="locations-options">

    <h3><i class="icon-screenshot"></i> What location?</h3>

    <div class="location-search-buttons">

      <% if false %>
      <a href="#" class="get-nearby middle-button button"><i class="icon-map-marker"></i> Nearby Locations</a>
      <a href="#" class="search-locations middle-button button"><i class="icon-globe"></i> Search locations</a>
      <% end %>

    </div><!-- end .location-search-buttons -->

    <div class="nearby-locations-container" style="display: none;">
      <select id="nearby-locations" name="foursquare_location_id"></select>
    </div><!-- end .nearby-locations-container -->

    <div class="search-locations-container">
      <input type="text" placeholder="Type the location name" id="location-search" autocomplete="off">
      <select style="display:none;" id="search-locations-results" name="foursquare_location_id"></select>
    </div>

  </div><!--end .locations-options-->

  <% else %>

    <!-- the location the user checked in -->
    <input type="hidden" value="<%= @location.foursquare_location_id %>" name="foursquare_location_id">

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
