<% provide(:title, "Notes") %>

<% if @messages.respond_to? :length? %>

<h1>My Notes</h1>

<div class="notes-map">

  <div style="width: 100%; height: 300px;" class="map" id="map-canvas"></div>

</div><!--end .notes-map -->

<div class="notes-list">

  <table>
    <tr>
      <th>Content</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @messages.each do |message| %>
    <tr>
      <td><%= link_to message.content, message %></td>
      <td><%= message.location.title %></td>
      <td><%= link_to 'Edit', edit_message_path(message) %></td>
      <td><%= link_to 'Remove', message, method: :delete, data: { confirm: 'Are you sure you want to remove this note?' } %></td>
    </tr>
  <% end %>
  </table>

</div><!--end .notes-list -->

<div class="page-links">
  <%= link_to 'New Message', new_message_path, class: "button" %>
</div><!--end .page-links -->

<% else %>

  <div class="center bigger-text">
    <p>Looks like you don't have any notes yet! Get started by <%= link_to "adding a new note", new_message_path %>.</p>
  </div><!--end .center -->

<% end %>
