<% provide(:title, "Checkin at #{@location.title}") %>

<h2>This is a response message page</h2>

<p><%= @checkin.user %></p>

<p><%= @user.email %></p>

<p><%= @location.title %></p>

<% unless @messages.blank? %>

  <% @messages.each do |message| %>
    <p><%= message.content %></p>
  <% end %>

  <%= render :partial => 'messages/form', :message => @message %>

<% else %>
  <p>No messages for this location. Do you want to add a note?</p>

<% end %>