<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <meta name="drinksconsumed:beer" content="3">
  <meta name="drinksconsumed:redbull" content="3">
  <meta name="drinksconsumed:water" content="5">

  <!-- make it responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>
  <%= render 'layouts/flash' %>

  <div class="container">
    <section id="main">
      <%= yield %>
    </section><!-- end #main -->
  </div><!--end .container -->

  <%= render 'layouts/footer' %>

</body>
</html>
