<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <title><%= full_title(yield(:title)).html_safe %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//maps.google.com/maps/api/js?sensor=true"></script>
  <%= javascript_include_tag "application" %>

  <!-- make it responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <% if Rails.env.production? %>
    <!-- typekit for remigeo.com -->
    <script src="//use.typekit.net/gsg6lie.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- analytics -->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11559286-31']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class(yield(:body_class)) %>">

  <%= render 'layouts/header' %>
  <%= render 'layouts/flash' %>

  <div class="container fluff">
    <section id="main">
      <%= yield %>
    </section><!-- end #main -->
  </div><!--end .container -->

  <%= render 'layouts/footer' %>

  <% if !Rails.env.production? %>
    <%= session.inspect %>
  <% end %>

</body>
</html>
